.header-style{
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
}
.header-image{
    position: relative;
    border: 2px solid rgba(250, 241, 241, 0.219);
    /* position: absolute; */
    width: 504px;
    height: 585px;
    background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);
    backdrop-filter: blur(1110px);
    border-radius: 35px;
padding: 24px 29px 0px 29px;


}
.header-image::before{
    position: absolute;
    content: "";
    width: 0.1px;
    height: 0.1px;
    background-color: #fc37ff67;
    z-index: -1;
    top:-20px;
    right: 500px;
    border-radius: 50%;
    box-shadow: 0 0 120px 80px #fc37ff8c;

}
.header-image::after{
    position: absolute;
    content: "";
    width: 0.1px;
    height: 0.1px;
    background-color: #18b3de6b;
    ;
    z-index: -1;
    top:600px;
    right: 40px;
    border-radius: 50%;
    box-shadow: 0 0 120px 80px #18b3deaf;
    ;

}

.header-style h2{
    font-weight: 600;
    font-size: 72px;
    letter-spacing: -2px;
    color: #ffff;
    
}
.header-style p{
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #E2E2E2;
}
.buttons{
    height: 60px;
    width: 218px;
    border-radius: 16px;
    border: 0px;
    /* margin: 0px 10px; */
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -1px;
    margin-top: 12px;
    background: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
    color: #ffff;

}
.header-style button{
    height: 60px;
    width: 218px;
    border-radius: 16px;
    border: 1px solid white;
    margin: 0px 10px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -1px;
    margin-top: 12px;
    background-color:  #1F1D2B;
    color: white;
}
.header-style img{
    height: 448px;
    width: 447px;

}
.home-image img{
    height: 53px;
    width: 53px;

}
.home-image{
    display: flex;
    /* align-items: center; */
}
.home-image h4{
   
    font-size: 16px;
    font-weight: 600;
}
.home-image p{
    
    font-weight: 500;
    font-size: 16px;
}
.icon-area h4{
    font-weight: 600;
    font-size: 16px;
    
}
.icon-area p{
    font-weight: 600;
    font-size: 16px;
    
}
.image-text{
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}